/* Global modifications */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}


/* Header section */

header>div>h1 {
    text-align: center;
}