/* Global modifications */

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 27, 29);
}

main h2 {
    color: #d25f12;
    margin: 0 0 20px 0;
}

main p {
    margin-bottom: 10px;
    line-height: 1.5rem;
}

main li {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.pictures {
    float: right;
}

hr {
    margin: 25px 35%;
    border-style: dotted;
    color: rgb(245, 203, 148, .5);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 11px;
}

ul {
    list-style-type: circle;
}


/* Header section */

header {
    font-family: 'Open Sans', sans-serif;
}

.main-nav {
    padding: 3vh;
    height: 15vh;
    background-color: #000;
    color: #fff;
}

.logo img {
    float: left;
    top: 3%;
    left: 3%;
    width: 60px;
    margin: 10px 10px;
}


/***** nav links ****************/

.main-nav a:link {
    color: #d25f12;
}

.main-nav a:visited {
    color: #893d0b;
}

.main-nav a:hover {
    color: rgb(223, 202, 85);
}

.main-nav a:active {
    color: #bc794d;
}

.nav li {
    margin: 5px 10px;
    display: inline;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
}

.nav ul {
    float: right;
    position: relative;
    padding: 2vh 2vw;
}


/***** end of nav links *************/


/* end of header */


/***** main starty **************/


/******** home start - Billboard ************/

#home {
    background-image: url(images/1.jpg);
    background-size: cover;
    height: 75vh;
}

.main-section-header {
    position: relative;
    top: 25vh;
    right: 0;
    background-color: #d78c31cf;
    width: 50vw;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.main-section-header h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.main-section-header p {
    font-size: 1.5rem;
    color: rgb(39, 36, 36);
    text-decoration: none;
}


/******** about start ********/

#about {
    padding: 5vh 0;
}

.about-main {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
}


/****** contact Start *********/

#contact {
    padding: 5vh 0;
    background-color: #000;
}

.contact-main {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.form-input {
    margin: 10px 0 20px 0;
}

input {
    width: 35vw;
    height: 5vh;
    font-size: 1.25rem;
    border-radius: 5px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    height: 25vh;
    font-size: 1.25rem;
    padding: 10px 10px;
    border-radius: 5px;
}

button {
    background-color: #d25f12;
    height: 2.5rem;
    border: none;
    padding: 5px 15px;
    color: black;
    border-radius: 5px;
    font-size: 1.25rem;
}

textarea {
    width: 100%;
    height: 25vh;
    padding: 10px 10px;
}


/********Services Start**********/

#services {
    padding: 5vh 0;
}

.services-main {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
}


/**********Portfolio Start***********/

#portfolio {
    background-color: rgb(14, 14, 14);
    height: auto;
    padding: 5vh 0;
    color: rgb(255, 255, 255);
}

.portfolio-main {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
}

.project-images img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70vw;
}


/*******end of main *********/


/* footer */

footer div {
    text-align: center;
    background-color: #d25f12;
    color: #fff;
}