/* Global modifications */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}


/* Header section */

header {
    font-family: 'Open Sans', sans-serif;
}

.main-nav {
    padding: 3vh;
    height: 15vh;
    background-color: #000;
    color: #fff;
}

.main-nav>nav {
    position: ablsolute;
    height: auto;
}

.main-nav>nav>ul>li {
    margin: 5px 10px;
    display: inline;
    font-size: 1.25rem;
}

.main-nav>nav>ul>li>a {
    text-decoration: none;
}

.main-nav>nav>ul {
    position: absolute;
    right: 5%;
}


/***** nav links ****************/

.main-nav>nav>ul>li>a:link {
    color: #D25F12;
}

.main-nav>nav>ul>li>a:visited {
    color: #893d0b;
}

.main-nav>nav>ul>li>a:hover {
    color: rgb(223, 202, 85);
}

.main-nav>nav>ul>li>a:active {
    color: #bc794d;
}

.logo>div>img {
    float: left;
    top: 3%;
    left: 3%;
    width: 60px;
    margin: 10px 10px;
}


/***** end of nav links *************/


/* end of header */


/* main */


/******** home start ************/

.main-wrapper {
    margin: auto;
    text-align: center;
    background-color: azure;
    width: auto;
}

#home {
    background-color: burlywood;
    background-image: url(images/1.jpg);
    background-size: cover;
    height: 500px;
}

.main-section-header {
    position: relative;
    top: 25vh;
    right: 0;
    background-color: #d78c31cf;
    width: 50vw;
    border-radius: 15px;
}

.main-section-header>h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.main-section-header>p {
    font-size: 1.5rem;
    color: rgb(39, 36, 36);
    text-decoration: none;
}


/******** home end *********/

#about {
    background-color: cornflowerblue;
    height: 500px;
}

#contact {
    background-color: darkkhaki;
    height: 500px;
}

#services {
    background-color: azure;
    height: 500px;
}

#portfolio {
    background-color: chocolate;
    height: 500px;
}


/* end of main */


/* footer */

footer>div {
    text-align: center;
    background-color: aquamarine
}