/* Global modifications */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 27, 29);
}

main h2 {
    color: #D25F12;
    margin: 0 0 20px 0;
}

main p {
    margin-bottom: 10px;
    line-height: 1.25rem;
}

main li {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.pictures {
    float: right;
    margin: -25px 0;
    padding-right: 100px;
}

hr {
    margin: 25px 35%;
    border-style: dotted;
    color: rgb(245, 203, 148, .5);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 11px;
}


/* Header section */

header {
    font-family: 'Open Sans', sans-serif;
}

.main-nav {
    padding: 3vh;
    height: 15vh;
    background-color: #000;
    color: #fff;
}

.main-nav>nav {
    position: ablsolute;
    height: auto;
}

.main-nav>nav>ul>li {
    margin: 5px 10px;
    display: inline;
    font-size: 1.25rem;
}

.main-nav>nav>ul>li>a {
    text-decoration: none;
}

.main-nav>nav>ul {
    position: absolute;
    right: 5%;
}

.logo>div>img {
    float: left;
    top: 3%;
    left: 3%;
    width: 60px;
    margin: 10px 10px;
}


/***** nav links ****************/

.main-nav>nav>ul>li>a:link {
    color: #D25F12;
}

.main-nav>nav>ul>li>a:visited {
    color: #893d0b;
}

.main-nav>nav>ul>li>a:hover {
    color: rgb(223, 202, 85);
}

.main-nav>nav>ul>li>a:active {
    color: #bc794d;
}


/***** end of nav links *************/


/* end of header */


/* main */


/******** home start ************/

#home {
    /* background-color: burlywood; */
    background-image: url(images/1.jpg);
    background-size: cover;
    height: 75vh;
}

.main-section-header {
    position: relative;
    top: 25vh;
    right: 0;
    background-color: #d78c31cf;
    width: 50vw;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.main-section-header>h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.main-section-header>p {
    font-size: 1.5rem;
    color: rgb(39, 36, 36);
    text-decoration: none;
}


/******** home end *********/


/******** about start ********/

#about {
    /* background-color: cornflowerblue; */
    height: auto;
    padding: 5vh 0;
}

.about-main {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}


/******* about end ***********/

#contact {
    /* background-color: darkkhaki; */
    height: auto;
    padding: 5vh 0;
}

.contact-main {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}

#services {
    /* background-color: azure; */
    height: auto;
    padding: 5vh 0;
}

.services-main {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}

#portfolio {
    /* background-color: chocolate; */
    height: auto;
    padding: 5vh 0;
}

.portfolio-main {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}

.project-images>img {
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, .5);
}


/* end of main */


/* footer */

footer>div {
    text-align: center;
    background-color: #D25F12;
    color: #fff;
}