/* Global modifications */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 27, 29);
}

main h2 {
    color: #d25f12;
    margin: 40px 0 20px 0;
}

main p {
    margin-bottom: 10px;
    line-height: 1.5rem;
}

main li {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
}



hr {
    margin: 100px;
    border-style: dotted;
    color: rgb(245, 203, 148, .5);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 11px;
}

h1 {
    font-size: 35px;
}

ul {
    list-style-type: circle;
}


.face-black {
    color: #000;
    width: 55px;
    font-size: 2rem;
}

.face-white {
    text-align: center;
    color: #fff;
    width: 55px;
    font-size: 2rem;
}

button {
    background-color: #d25f12;
    height: 2.5rem;
    border: none;
    padding: 5px 15px;
    color: black;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.social-button {
    margin-left: 10px;
}


/* ****Header section  , Logo with nav *****/

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: rgb(3, 3, 3);
    font-family: 'Open Sans', sans-serif;
}



.logo img {
    width: 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.logo-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}

/***** nav links ****************/

nav a:link {
    color: #d25f12;
}

nav a:visited {
    color: #893d0b;
}

nav a:hover {
    color: rgb(223, 202, 85);
}

nav a:active {
    color: #bc794d;
}

nav li {

    margin: 5px 10px;
    list-style-type: none;
    font-size: 1.25rem;

}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/***** end of nav links *************/


/* end of header */


/***** main starty **************/


/******** home start - Billboard ************/

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/1.jpg);
    background-size: cover;
    height: 85vh;
    background-position: bottom right;
}

.main-section-header {
    display: flex;
    flex-direction: column;
    width: 45vw;
    min-width: 300px;
    max-width: 400px;
    margin-left: 100px;
    align-items: center;
    background-color: #d78c31cf;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.main-section-header .fa-github {
    margin-right: 0;
}

.main-section-header h3 {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.main-section-header p {
    font-size: 1.3rem;
    color: rgb(39, 36, 36);
    text-decoration: none;
}


/******** about start ********/


.about-main {
    display: flex;
    flex-direction: row;
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.about-main div {
    margin: 50px 10px;
}

.pictures img {
    margin-top: 45px;
}

/****** contact Start *********/

#contact {

    background-color: #000;
}

.contact-main {
    width: 70vw;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-input {
    margin: 10px 0 20px 0;
}

input {
    width: 100%;
    height: 5vh;
    font-size: 1.25rem;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    margin-right: 30px;
    margin-bottom: 30px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

textarea {
    width: 100%;
    height: 25vh;
    font-size: 1.25rem;
    padding: 10px 10px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 25vh;
    padding: 10px 10px;
}


/********Services Start**********/

#services {
    padding: 5vh 0;
}

.services-main {
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}


/**********Portfolio Start***********/

#portfolio {
    background-color: rgb(14, 14, 14);
    height: auto;
    padding: 10vh 0;
    color: rgb(255, 255, 255);
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

/***** projects reapet here******/

.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.project-images img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70vw;
    max-width: 1000px;
}


/*******end of main *********/


/* footer */

footer div {
    text-align: center;
    background-color: #d25f12;
    color: #fff;
}

@media all and (max-width: 1000px) {
    .main-section-header {
        position: relative;
        top: 175px;
        left: 150px;

    }
}

@media all and (max-width: 857px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
        margin: 16px auto;
    }

    .main-section-header {
        width: 39vw;
        padding: 10px;
        margin-left: 50px;
        position: relative;
        top: 175px;
        left: 150px;
    }

    .about-main {
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
        text-align: left;

    }

    .about-main div {
        margin: 100px auto 50px auto;
    }

    .about-main div:last-child {
        margin-top: 0;
    }

    .about-main .pictures {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media all and (max-width: 593px) {
    header nav ul li {
        font-size: 15px;
        margin-right: 15px;
    }

    header nav ul {
        margin-right: 0;
    }

    h1 {
        font-size: 30px;
    }

    .fab {
        margin-right: 0
    }

    .main-section-header {

        position: relative;
        top: 175px;
        left: -30px;
    }

    #home {
        background-image: url(images/2.jpg);
        background-size: cover;
        background-position: bottom left;
    }

}